*.db
*.cr
.vscode/
*.orig
eressea.ini
Debug/
Release/
ipch/
*.ipch
*.ncb
*.opensdf
*.pdb
*.sdf
*.suo
*.user

*~
*.pyc
*.bak
*.swp
build*/
*.log
*.log.*
tags
Thumbs.db
.gdb_history
*.cfg
*.cmd
/.vs
/CMakeSettings.json
.DS_Store
